
{% load static %}

{% block title %}Payment{% endblock title %}


{% block styles %}
{{block.super}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<style>
     .checkout-container {
        font-size: 20px;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 10px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    body{
        background-color: white;
    }
</style>
{% endblock styles %}

{% block navbar %}
{{block.super}}
{% endblock navbar %}

{% block content %}
<main>
        <div class="checkout-container">
            <h1 class="mt-5" style="text-align: center; margin-bottom: 30px;">Checkout</h1>
            <div class="row">
                <div class="col-md-6">
                    <h2>Subscription Details</h2>
                    <p>You have selected the {{subscription.name}} plan.</p>
                    <!-- Display selected subscription plan details here -->
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <a href="{% url 'subscribePage' %}" class="btn btn-secondary" style="background-color: rgb(118, 118, 167);">Change Subscription</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Billing Information</h2>
                    <form id="billing-form" method="POST" action="{% url 'process_payment' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" id="subscription_id" name="subscription_id"
                                value="{{ subscription.id }}" enctype="multipart/form-data">
                            <label for="phone">Phone Number</label>
                            <input type="tel" class="form-control" id="phone" name="phone"
                                placeholder="Enter your phone number">
                        </div>
                        <!-- Your other billing address form fields here -->
                        <button type="submit" class="btn btn-primary" style="background-color: green;">Pay with Mpesa</button>
                    </form>
                </div>
            </div>
        </div>  
</main>
{% block footer %}{% endblock footer %}
{% endblock content %}
{% block scripts %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock scripts %}