<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" /> 
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  </head>
  <body>
    <nav class="sidebar">
      <a href="#" class="logo">VantageDrive</a>

      <div class="menu-content">
        <ul class="menu-items">
          
          <li class="item">
            <a href="#">View Schedule</a>
          </li>
          
          

          <li class="item">
            <div class="submenu-item">
              <span>TRANSACTIONAL REPORTS</span>
              <i class="fa-solid fa-chevron-right"></i>
            </div>

            <ul class="menu-items submenu">
              <div class="menu-title">
                <i class="fa-solid fa-chevron-left"></i>
                BACK
              </div>
              <li class="item">
                <a href="#">First sublink</a>
              </li>
              <li class="item">
                <a href="#">First sublink</a>
              </li>
              <li class="item">
                <a href="#">First sublink</a>
              </li>
            </ul>
          </li>
          <li class="item">
            <div class="submenu-item">
              <span>GENERAL REPORTS</span>
              <i class="fa-solid fa-chevron-right"></i>
            </div>

            <ul class="menu-items submenu">
              <div class="menu-title">
                <i class="fa-solid fa-chevron-left"></i>
                BACK
              </div>
              <li class="item">
                <a href="#">ALL USERS IN THE SYSTEM</a>
              </li>
              <li class="item">
                <a href="{% url 'trainees' %}">ALL REGISTERED TRAINEES</a>
              </li>
              <li class="item">
                <a href="#">ALL INSTRUCTORS</a>
              </li>
              <li class="item">
                <a href="#">Second sublink</a>
              </li>
              
              <li class="item">
                <a href="#">Second sublink</a>
              </li>
              <li class="item">
                <a href="#">Second sublink</a>
              </li>
              <li class="item">
                <a href="#">Second sublink</a>
              </li>
            </ul>
          </li>

         

          <li class="item">
            <!-- <a href="/admin/">Django Admin Dashboard</a> -->
          </li>
          <li class="item">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="navbar">
      <i class="fa-solid fa-bars" id="sidebar-close"></i>
    </nav>

    <main class="main">
      <div class="container">
        {% block content %}
      {% endblock content %}
      </div>
    </main>

    <script src="{% static '/js/script.js' %}"></script>
  </body>
</html>