{% extends 'users/main.html' %}

{% block content %}
<style>
  /* courses.css */
  .course-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
   }

  .course-card-container {
    width: 100%; /* Full width of the container */
    display: flex;
    justify-content: space-around;
  }

  .course-card {
    width: 45%; /* Maintain the current width */
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px; /* Add margin between cards */
    margin-right: 20px; /* Add space to the right of each card */
  }

  .course-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .course-card h3 {
    color: #333;
  }
  
  .view-button {
    background-color: #3d8ce1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Remove underlines */
    display: inline-block; /* Adjust to appear as a button */
  }

  /* Remove underline on hover */
  .view-button:hover {
    text-decoration: none;
  }
</style>


  <div class="course-card">
    <img src="../../static/images/Truck.png" alt="Truck">
    <a href="{% url 'truck' %}" class="view-button">
      <h3>Category C1(Light Truck)</h3>
      <p>Take your driving skills to the next level</p>
    </a>
  </div>

  <div class="course-card">
    <img src="../../static/images/Light .png" alt="Car">
    <a href="{% url 'car' %}" class="view-button">
      <h3>Category B1(Saloon Car)</h3>
      <p>Perfect for first-time drivers</p>
    </a>
  </div>

{% endblock content %}
