{% extends 'users/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}
<style>
  body {
    margin: 0;
    padding: 0;  
    min-height: 100vh;
    background-size: cover;
    font-family: Arial, sans-serif;
  }

  .login-container {
    border-radius: 10px;
    backdrop-filter: blur(30px);
    padding: 20px;
    width: 500px;
    
  }
  
  .login-container .input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Green color, you can change it */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }

  .signup-link {
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
</style>
</head>
<body>

<div class="login-container">
  <h2>SIGN UP</h2>
  <form action="" method="post">    
    {% csrf_token %}
    {{ form.as_p }}
    
    
    <button class="btn" type="submit">Register</button>
  </form>
  <a class="signup-link">Already have an account?</a>
  <a href="{% url 'login' %}">Click here to Log In</a></small>
      
</div>

</body>
    
{% endblock content %}       
