<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- #css style-->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-rYyhvHsJQ7H1B1dGmmszu5P6LJoC8EdxjSAaPiHee3jYegCEWIDAp4tvjs2bZwWG" crossorigin="anonymous">


  <title>Vantage Driving School</title>
</head>
  <header>
    <nav>
      <div class="logo">
        <img src="../../static/images/logo.png" alt="Vantage Driving School logo">
      </div>
      <div class="salutation">
        <h3>
           Welcome back, {{request.user.username}}
        </h3>
      </div>
      <ul>        
        <li><a href="{% url 'profile' %}">My Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>        
      </ul>
    </nav>
  </header>
  
  <div>
   
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{message}}
        </div>
      {% endfor %}
    {% endif %}
    
  </div>


  
<section class="hero">    
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
    }
    
    li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    }
    
    li a.active {
      background-color: #04AA6D;
      color: white;
    }
    
    li a:hover:not(.active) {
      background-color: #555;
      color: white;
    }
    </style>
    </head>
    <body>
    
    
    
    <ul>
      <br>
      <li><a id="myScheduleLink" href="#" onclick="toggleActive(this)">My Schedule</a></li>
      <script>
        function toggleActive(link) {
    
        link.classList.toggle("active");
   }
    </script>
   
      <br>
      <li><a class="" href="">View Progress</a></li>
      <br>
      <li><a href="">Finances</a></li>
      <br>
      
    </ul>
    
    </body>
    </html>

    <section class="container">
      {% block content %}
      {% endblock content %}
    </section>    
    
  
</section>
  <footer>
    <p>&copy; 2024 Vantage Driving School. All rights reserved.</p>
  </footer>
 
</body>
</html>
