<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trainee Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" /> 
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  </head>
  <body>
    <nav class="sidebar">
      <a href="#" class="logo">VantageDrive</a>

      <div class="menu-content">
        <ul class="menu-items">
          
          <li class="item">
            <a href="{% url 'event_list' %}">My Schedule</a> 
          </li>
          <li class="item">
            <a href="{% url 'fullcalendar' %}">Book Lessons</a> 
          </li>
          <!-- <li class="item">
            <a href="{% url 'viewprogress' %}">View Progress</a> 
          </li> -->
          <li class="item">
            <a href="{% url 'piechart' %}">View Progress</a> 
          </li>
          <li class="item">
            <a href="{% url 'payments' %}">Payments</a>
          </li>
          <li class="item">
            <a href="{% url 'profile' %}">My Profile</a> 
          </li>
         
          <br>
          <br>
          <br>
          
          <li class="item">
            <a href="{% url 'logout' %}">Logout</a> 
          </li>
          

          
         

          
          
        </ul>
      </div>
    </nav>
      
    <nav class="navbar">
      <i class="fa-solid fa-bars" id="sidebar-close"></i>
    </nav>

    <main class="main">      
      <div class="container">
        <div>
   
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{message.tags}}">{{message}}
              </div>
            {% endfor %}
          {% endif %}
          
        </div>     
        
        {% block content %}
        {% endblock content %}
      </div>
    </main>

    <script src="{% static '/js/script.js' %}"></script>
  </body>
</html>