{% extends 'trainee/base.html' %}

{% block content %}
<h2>Book Lesson</h2>
<table class="table" border="1">
    <thead>
        <tr>
            <th>Starting Time</th>
            <th>Ending Time</th>
            <th>Lesson Name</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.start }}</td>
            <td>{{ event.end }}</td>
            <td>{{ event.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
