{% extends 'trainee/base.html' %}

{% block content %}
<h2>Book Lesson</h2>
<table class="table" border="1">
    <thead>
        <tr>
            <th>Starting Time</th>
            <th>Ending Time</th>
            <th>Lesson Name</th>
            <th>Action</th> <!-- New column for the booking button -->
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.start }}</td>
            <td>{{ event.end }}</td>
            <td>{{ event.name }}</td>
            <td>
                <!-- Booking button -->
                <form action="{% url 'book_event' event.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Book</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
