{% extends 'trainee/base.html' %}

{% block content %}

<div class="container">
    <h2>My Profile</h2>
    <table class="table" border="1">
        
        <tr>
            <td>Username:</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Email address:</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Full names:</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
        </tr>
       
        <tr>
            <td>Date joined:</td>
            <td>{{ user.date_joined }}</td>
        </tr>
        <tr>
            <td>Last login:</td>
            <td>{{ user.last_login }}</td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td>{{ user.date_of_birth }}</td>
        </tr>
    </table>
    <br>
    <form action="{% url 'edit' %}" method="get">
        <button type="submit" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border: 1px solid #007bff; border-radius: 5px;">Edit Profile Information</button>
    </form>
    <br>       
    <form action="{% url 'change' %}" method="get">
        <button type="submit" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border: 1px solid #007bff; border-radius: 5px;">Change Password</button>
    </form>    
    <br>
    <form action="{% url 'printprofile' %}" method="get">
        <button type="submit" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border: 1px solid #007bff; border-radius: 5px;">Print My Profile</button>
    </form>
    
</div>
{% endblock %}
