{% extends 'trainee/base.html' %}

{% block content %}
<div class="container">
    <h2>My Booked Lessons</h2>
    <br>
    <table class="table" border="1" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="text-align: center; font-weight: bold; padding: 10px;">Event ID</th>
                <th style="text-align: center; font-weight: bold; padding: 10px;">Event Name</th>
                <th style="text-align: center; font-weight: bold; padding: 10px;">Starting Time</th>
                <th style="text-align: center; font-weight: bold; padding: 10px;">Duration</th>
                <th style="text-align: center; font-weight: bold; padding: 10px;">Ending Time</th>
                <th style="text-align: center; font-weight: bold; padding: 10px;">Booking Date</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td style="padding: 10px;">{{ booking.event_id }}</td>
                <td style="padding: 10px;">{{ booking.event_name }}</td>
                <td style="padding: 10px;">{{ booking.event_start }}</td>
                <td style="padding: 10px;">{{ booking.duration }}</td>
                <td style="padding: 10px;">{{ booking.event_end }}</td>
                <td style="padding: 10px;">{{ booking.booking_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<form action="{% url 'printschedule' %}" method="get">
    <button type="submit" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border: 1px solid #007bff; border-radius: 5px;">Print Schedule</button>
</form>
{% endblock %}
