<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>List of Booked Lessons</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

   
  </style>
</head>
<body>
  <img class="logo" src="{{ logo_path }}" alt="Logo" style="width: 150px; height: auto;">

  <h2 style="text-align: center;">MY BOOKED LESSONS</h2>
  
  <!-- Display current date -->
  <p style="text-align: right; font-weight: bold;">Date: {{ date }}</p>
<div>
   <!-- User details section -->
    <h3>User Details</h3>
    <p><strong>Adm ID:</strong> {{ user.id }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

</div>

  <table>
    <thead>
      <tr>      
        <th style="width: 55px;">Event ID</th>
        <th>Event Name</th>
        <th style="width: 155px;">Starting Time</th>
        <th style="width: 65px;">Duration</th>
        <th>Ending Time</th>
        <th>Booking Date</th>     
      </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>    
            <td style="padding: 10px;">{{ booking.event_id }}</td>
            <td style="padding: 10px;">{{ booking.event_name }}</td>
            <td style="padding: 10px;">{{ booking.event_start }}</td>            
            <td style="padding: 10px;">{{ booking.duration }}</td>
            <td style="padding: 10px;">{{ booking.event_end }}</td>
            <td style="padding: 10px;">{{ booking.booking_date }}</td>            
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <br>
</body>
</html>
