{% extends 'instructor/pdfbase.html' %}
{% load static %}
{% block body %}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 200px;
        margin: 15px;
        display: inline-block;
        border-radius: 8px;
        overflow: hidden;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        padding: 2px 16px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Update Progress</h2>
        </div>
        <div class="col-md-6 text-end">
            <a href="{% url 'instbase' %}" class="btn btn-primary btn-md">GO BACK</a>
        </div>
    </div>
    <div class="row">
        {% for trainee in trainees %}
        <div class="card">
            <div class="container">
                <p>Trainee ID: {{ trainee.id }}</p>
                <p>Username:</p>
                <h4>{{ trainee.username }}<h4>
                <a href="{% url 'trainee_events' trainee_id=trainee.id %}" class="btn btn-primary btn-sm">Update</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
