{% extends 'instructor/pdfbase.html' %}
{% load static %}
{% block body %}

<!-- Modal -->
<div class="container">
  <div class="container">
    <div class="row">
        <div class="col-md-12 logo-container">
            <img class="logo" src="{% static 'images/logo.png' %}" alt="Logo" style="width: 150px; height: auto;">
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <h3>List of Trainees</h3>
      </div>
      <div class="col-md-6 text-end">
          <a href="{% url 'instbase' %}" class="btn btn-primary btn-md">GO BACK</a>
      </div>
  </div>
</div>

<hr style="border-top:1px solid #000; clear:both;"/>
<table id = "table" class = "table table-bordered">
    <thead class="alert-warning">
        <tr>
          <th scope="col">Admission Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Second Name</th>
          <th scope="col">Email</th>
          <th scope="col">Last Login</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Date Joined</th>
        </tr>
    </thead>
    <tbody>
          {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>                            
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.last_login }}</td>
          <td>{{ user.date_of_birth }}</td>
          <td>{{ user.date_joined }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}